<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595681054791-7d4hlk9k6nei099udc91hf0lbrh05ggl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595681054791-7d4hlk9k6nei099udc91hf0lbrh05ggl</string>
	<key>API_KEY</key>
	<string>AIzaSyD-1HqnQupjYGf_FeBWg2iyyo0_gNZiEik</string>
	<key>GCM_SENDER_ID</key>
	<string>595681054791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ondevice.OnDeviceGit</string>
	<key>PROJECT_ID</key>
	<string>iosondevicetest</string>
	<key>STORAGE_BUCKET</key>
	<string>iosondevicetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595681054791:ios:365f13446e1a1a34ede162</string>
</dict>
</plist>